/* button{
  background:var(--primary-color);
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
  font-weight:600;
  transition:.25s;
}

button:hover{
  background:var(--primary-hover);
  transform:translateY(-2px);
}

button:disabled{
  opacity:.6;
  cursor:not-allowed;
} */


.primary-button {
  width: 100%;
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.primary-button:hover {
  background: var(--primary-hover);
  transform: translateY(-2px);
}

.primary-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}